:root {
  --white: hsl(0, 0%, 100%);
  --light-pink: hsl(275, 100%, 97%);
  --grayish-purple: hsl(292, 16%, 49%);
  --dark-purple: hsl(292, 42%, 14%);
  --pink: hsl(281, 83%, 54%);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Work Sans', sans-serif;
  background-color: var(--light-pink);
  min-height: 100vh;
  padding: 1.5rem;
}

body::before {
  content: '';
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 232px;
  background: url('/background-pattern-mobile.svg') no-repeat;
  background-size: cover;
}

.main {
  margin-top: 8.875rem;
  padding: 1.5rem;
  background-color: var(--white);
  color: var(--dark-purple);
  border-radius: 8px;
}

.header {
  display: flex;
  justify-items: center;
  gap: 1.5rem;
}

.header-logo {
  width: 24px;
}

.header-text {
  font-size: 2rem;
  line-height: 2.375rem;
  font-weight: 700;
}

.header-icon-minus,
.header-icon-plus {
  height: 30px;
}

.accordion-container {
  padding-top: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.accordion-item:not(:last-child) {
  padding-bottom: 1.25rem;
  border-bottom: 1px solid var(--light-pink);
}

.accordion-header {
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  text-align: left;
  background: transparent;
  border: none;
  font-family: inherit;
  color: inherit;
}

.accordion-header span {
  flex-grow: 1;
  font-size: 1rem;
  line-height: 1.1875rem;
  font-weight: 600;
  margin-right: 1rem;
  transition: color 0.25s;
}

.accordion-header:hover span {
  color: var(--pink);
}

.accordion-panel {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 0.3s;
}

.panel-opened {
  grid-template-rows: 1fr;
}

.accordion-panel > div {
  overflow: hidden;
}

.accordion-panel-text {
  padding-top: 1.5rem;
  font-size: 0.875rem;
  color: var(--grayish-purple);
  line-height: 1.5;
}

.hidden {
  display: none;
}

@media (min-width: 768px) {
  body {
    padding: 10.5rem 2.5rem 5rem;
  }

  body::before {
    background-image: url('/background-pattern-desktop.svg');
    height: 320px;
  }

  .main {
    max-width: 600px;
    margin: 0 auto;
    padding: 2.5rem;
    border-radius: 16px;
    box-shadow: 0px 32px 56px 0px rgba(80, 0, 118, 0.1);
  }

  .header-logo {
    width: 40px;
  }

  .header-text {
    font-size: 3.5rem;
    line-height: 4.125rem;
  }

  .accordion-container {
    padding-top: 2rem;
    gap: 1.5rem;
  }

  .accordion-item:not(:last-child) {
    padding-bottom: 1.5rem;
  }

  .accordion-header span {
    font-size: 1.125rem;
    line-height: 1.3125rem;
    letter-spacing: -0.1px;
  }

  .accordion-panel-text {
    font-size: 1rem;
  }
}
